@keyframes move1 {
  0% { transform: translate(0, 0);  opacity : 1; }
  50% { transform: translate(200px, 0); opacity : 0 ; }
  100% { transform: translate(400px, 0); opacity : 1; }
}

@keyframes move2 {
  0% { transform: translate(0, 0); opacity : 1; }
  50% { transform: translate(100px, 0); opacity : 0; }
  100% { transform: translate(200px, 0); opacity : 1; }
}

@keyframes move3 {
  0% { transform: translate(0, 0); opacity : 1; }
  50% { transform: translate(-100px, 0); opacity : 0; }
  100% { transform: translate(-200px, 0); opacity : 1; }
}

@keyframes move4 {
  0% { transform: translate(0, 0); opacity : 1;}
  50% { transform: translate(-200px, 0); opacity : 0; }
  100% { transform: translate(-400px, 0); opacity : 1; }
}

.animate-move1 { animation: move1 3s forwards; }
.animate-move2 { animation: move2 3s forwards; }
.animate-move3 { animation: move3 3s forwards; }
.animate-move4 { animation: move4 3s forwards; }
